<!DOCTYPE html>
<html>
<head>
    <title>Weather for {{ weather_data.city }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        .weather-icon {
            max-width: 100px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center mb-4">Weather for {{ weather_data.city }}</h1>
        <hr>
        <div class="text-center">
            <img src="http://openweathermap.org/img/w/{{ weather_data.icon }}.png" alt="{{ weather_data.description }}" class="weather-icon">
            <p class="lead">{{ weather_data.temperature }}°C</p>
            <p>{{ weather_data.description }}</p>
        </div>
    </div>
</body>
</html>
